// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCa2Pa8MBpC17MTPLCHrRxdNPT3tmkzv2E",
  authDomain: "chitchat-nayan.firebaseapp.com",
  databaseURL: "https://chitchat-nayan-default-rtdb.firebaseio.com",
  projectId: "chitchat-nayan",
  storageBucket: "chitchat-nayan.appspot.com",
  messagingSenderId: "132393463704",
  appId: "1:132393463704:web:9fa52bdaf00b48bab9c5ed"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);